*:root {
    --primary-color: #00356b;
    --secondary-color: #286dc0;
    --grey-color: #7e736b;
    --dark-color: #222;
    --dark-gray: #4a4a4a;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Pro', serif;

}

p {
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
}

.btn {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-decoration: none;
    padding:10px;
    margin:1px;
    text-transform: uppercase;
}

.btn.drop-down .icon {
    font-size: 0.5rem;
}

.btn-secondary {
    background-color: var(--dark-gray);
    color:white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.covid-banner{
    background-color: var(--secondary-color);
    padding: 1rem;
}

.covid-banner h1, h2{
    font-size: 1.3rem;
    padding: 7px;
    margin: 1px;
}

.logo{
    font-size: 4rem;
    color: var(--primary-color)
}

header {
    display: flex;
    padding: 2rem 0;
}

header .btn.btn.drop-down {
    background-color: var(--primary-color);
    color: white;
}

header .navbars {
    display: flex;
    flex-direction: column;
}

header .navbars {
    margin-left: auto;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    
}

header nav.secondary a {
    font-size: 1rem;
    display:block;
    padding:1rem;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    color: var(--secondary-color)
}

header .btn-white{
    font-family: 'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    border: 1px solid #ddd;
    background-color: #fff;
    color: var(--primary-color);
    position: relative;
    height: 50px;
}

header nav.main {
    display: flex;
}

header nav.main .main_nav_item {
    padding: 1rem;
    margin: 1rem;
    color: var(--primary-color);
}

.main_nav_item {
    position: relative;
    
}

.main_nav_link {
    font-size: 1.3rem;
    height: 50px;
    width: 110px;
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    position: relative;
    z-index: 5;
    box-shadow: inset 4px 0 0 transparent, inset 0 1px 0 transparent, inset -1px 0 0 transparent;
    transition: all .25s .1s;
}

.main_nav_child {
    background-color: #fff;
    font-size: 1.3rem;
    display: block;
    width: 285px;
    position: absolute;
    left: 0;
    z-index: 2;
    box-shadow: inset 4px 0 0 var(--primary-color), inset 0 1px 0 #ddd, inset -1px 0 0 #ddd, inset 0 -1px 0 #ddd;
    margin-top: -1px;
    padding: 26px 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s .1s,visibility .25s .1s;
    display: flex;
    flex-direction: column;

}

.main_nav_child a{
    text-decoration: none;
    color: var(--primary-color);
}

.main_nav_link:hover + .main_nav_child, .main_nav_child:hover {
    opacity: 1;
    visibility: visible;
    color:#286dc0;
}

.main_nav_item:last-child .main_nav_child {
    right: 0;
    left: auto;
    color:#286dc0;
    box-shadow: inset -4px 0 0 var(--primary-color), inset 0 1px 0 #ddd, inset 1px 0 0 #ddd, inset 0 -1px 0 #ddd;
}



.hero {
    display: grid;
    grid-template-rows: 60px 1fr 60px ;
    grid-template-columns: 20% 30% 25% 25% ;
}

.hero .text {
    background-color: rgba(255,255,255,0.7);
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
}

.hero .image {
    background-color: gold;
    grid-column: 2/5;
    grid-row:1/5;
}

.hero .image img {
    width: 100%;
}

.hero .feature-archive {
    grid-row: 3;
    grid-column: 4;
    background-color:var(--grey-color);
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.closer-headings{
    font-size: 1.5rem;
    padding: 2rem;
    color: var(--primary-color);
    margin-bottom: 4.5rem;
}

.grid {
    background-color: var(--primary-color);
    color: #fff;
    text-shadow: 2px;
    justify-content: center;
    text-align: left; 
    display: flex;
    flex-direction: column;   
}

.grid a{
    text-decoration: none;
    color: #fff;
    text-shadow: 2px;
}

.boxes{
    display: grid;
    padding: 3rem;
    padding-top: 0.5rem;
    margin: 3rem;
    grid-auto-columns:  repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "one two empty empty "
    "three four empty empty "
    "five five six seven "
    "five five eight nine ";
    z-index: 2;
    position: relative;
}

.grid a{
    border: 1px solid #fff;
}

.grid .box{
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-size: cover;
    opacity: 0.9;
    padding: 1rem;
}

.grid .text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    color: white;
    text-shadow: 2px 2px  #222;
    vertical-align: text-bottom;
}

.grid h1,h2,p{
    padding: 0.8rem;
    font-weight: bold;
}

.box .text{
    width: 100%;
}

.box a{
    width: 100%;
    height: 100%;
    border: none;
    transition: 0.4s ease;
}

.box a:hover{
    transform: translateY(-10px);
}
.other{
    transition: ease-in 0.4s;
}

.box .other a:hover{
    background-color: var(--primary-color);
}

.box-one{
    grid-area: one;
    background-color: var(--secondary-color);
    text-align: center;
}

.box-one a{
    border: solid 1px #fff;
}

.box-one .text{
    width: 120px;
    text-align: center;
    text-shadow: none;
    align-items:center;
}

.box-one .Explore{
    background-color: #fff;
    color:#286dc0;
}
.box-two{
    grid-area: two;
    background: url("images/1x1_yale_school_of_architecture_23.jpg");
}

.box-three{
    grid-area: three;
    background: url("images/1491_martellus_map4.jpg");
}

.box-four{
    grid-area: four;
    background: url("images/dan-nov1.jpg");
    background-color: #7e736b;
}

.box-five{
    grid-area: five;
    font-size: 1.5rem;
    background: url("images/saybrook_college_04.jpg");
}

.box-five a {
    font-size: 1rem;
    border: solid 1px #fff;
    width: 25%;
}

.box-six{
    grid-area: six;
    background: url("images/erda-estremera-eUCdBfO381c-unsplash.jpg");
}

.box-seven{
    grid-area: seven;
    background: url("images/bl0354_07.jpg");
}

.box-eight{
    grid-area: eight;
    background: url("images/char-beck-5eM6sRTCCUc-unsplash.jpg");
}

.box-nine{
    grid-area: nine;
    background: url("images/ezra_stiles_college4.jpg");
}

.box-empty{
    grid-area: empty;
    z-index: -1;
}


.theback {
    display: grid;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-columns: repeat(4,1fr) ;
    margin-right: 0px;
    margin-left: 250px;
    position: absolute;
    z-index: 1;
}

.theback .text{
    padding-top: 9rem;
    padding-left: 9rem;
    grid-column: 2/5;
    grid-row: 2/4;
    z-index: 1;
    font-size: 1.5rem;
}

.theback a{
    width: 10rem;
    z-index: 1;
}

.theback .image{
    grid-column: 2/5;
    grid-row: 2/4;
}

.theback .image img{
    width: 100%;
    height: 77%;
}

.footer{
    display: flex;
    margin-left: 25%;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--dark-gray);
    font-size: 1.3rem;
    overflow: hidden;
}

.footer a{
    text-decoration: none;
    color: #fff;
    background-color: #4a4a4a;
}

.footer-row{
    display:flex;
}
.other{
    transition: ease 0.4s;
}
.other a:hover{
    background-color: var(--primary-color);
    
}
.footer_nav_list{
    display: flex;
}

.footer_nav_list .column{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: 2rem;
}

.something{
    background-color: var(--dark-gray);
    overflow:hidden;
    margin-bottom: 0px;
    
}